CompileFlags:
  Add:
    [
      -std=c++20,
      -I,
      C:/MinGW/include,
      -I,
      C:/MinGW/lib/gcc/mingw32/6.3.0/include,
      -I,
      C:/MinGW/lib/gcc/mingw32/6.3.0/include/c++,
      -I,
      C:/MinGW/lib/gcc/mingw32/6.3.0/include/c++/mingw32,
      -I,
      C:/MinGW/lib/gcc/mingw32/6.3.0/include/c++/backward,
    ]
