CompileFlags:
  Add:
    [
      -std=c++23,
      -xc++,
      --target=x86_64-w64-mingw32,

      -I,
      C:\msys64\ucrt64\include,
      -I,
      C:\msys64\ucrt64\include\c++\14.2.0,
      -I,
      C:\msys64\ucrt64\include\c++\14.2.0\x86_64-w64-mingw32,
      -I,
      C:\msys64\ucrt64\include\c++\14.2.0\backward,
    ]
